/*colors: #D7D2B7*/
/*red #D63737*/
/*pulse light blue: #198FD0*/
/*pulse darker blue: #2FA6E8*/
/*pulse blue: #2AA3E6*/
/*pulse baige: #EEEEEE*/
/*pulse grey: #29292A*/
/*pulse off white: #BFDDE3*/
html {
  font-size: 100%;
}

header{
  /*padding: 0 50px 0 50px;*/
  padding-left: 78%;
  height: 48px;
  line-height: 48px;
  /*position: fixed;*/
  /*width: 100%;*/
  top: 0;
  background-color: rgba(94, 144, 233, 0.9);
}

header a {
  font-size: 1.1em;
  font-weight: bold;
  color: #ecf0f1;
  padding: 0;
  margin: 0 5px;
  text-decoration: none;
}

body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #333333;
  background-color: rgb(180, 180, 180, 0.8);
}

.container {
  /*
    If you have a block-level element of a certain width, margin: 0 auto;
    will how you center it inside its parent container.

    See: http://bluerobot.com/web/css/center1.html
    
    Don't change the container width.
    */
    margin: 20px auto;  
    width: 400px;
    /*padding: 0px 20px 20px 20px;*/
    /*border: 1px dotted black;*/
    text-align: center;
    background-color: #BFDDE3;
    -webkit-border-radius: 10px;


  }

  .span3 {
    width: 150px;
    min-height: 1px;
    /*margin-left: 20px;*/
    display: inline-block;
  }

  h2 {
    margin: 0;
    font-family: inherit;
    font-weight: bold;
    color: inherit;
    /*text-rendering: optimizelegibility;*/
    line-height: 40px;
  }

  form {
    margin: 0 0 20px;
  }

  label {
    cursor: pointer;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: normal;
    line-height: 20px;
    text-align: left;
  }

  .span3 input {

    border: 1px solid #ccc;

    display: inline-block;
    /*height: 20px;*/
    padding: 4px 6px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 20px;

    vertical-align: middle;
    -webkit-border-radius: 4px;

    /*box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border linear .2s,box-shadow linear .2s;
    transition: border linear .2s,box-shadow linear .2s;*/



  }
  .btn {
    margin-top: 15px;
    width: 150px;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;


    background-image: linear-gradient(to bottom,#08c,#04c);
    /*background-image: linear-gradient(to bottom,rgb(189, 197, 218),#04c);*/


    background-repeat: repeat-x;
    color: #ddd;

  }

  .btn:hover, .btn:focus {
    color: #fff;
    background-color: #04c; 
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    transition: background-position .1s linear;

  }




  input[type="submit"] {
    /*width: auto;*/
    box-sizing: border-box;
    white-space: pre;
    webkit-appearance: button;

  }

  input, textarea, .uneditable-input {
    margin-left: 0;

  }

  div.tweet {
    padding: 1em;
  }

  div.tweet ul {
    -webkit-padding-start: 0px;
  }

  div.tweet ul li {
    list-style: none;
    margin: 0 auto;
  }

