<% if @login_messages == :failed_login %>
  <h3>Login Failed</h3>
  <h4>Please try again</h4>
<% end %>

<h2>Please Log In</h2>
<form method="post" action="/user/login">
  <input type="email" name="user[email]"placeholder="email" required>
  <input type="password" name="user[password]" placeholder="password" required>
  <input type="submit" value="Login">
</form>