<h2>Send a Tweet</h2>
<div class="span3">
  <form id='get_tweets' class = 'login' method="post" action="/send_tweet">
    <label id='main_label'>Tweet Away</label>
    <textarea id='tweet_area' type="text" rows='5' cols='40' name="text" placeholder="Max. 140 characters" required></textarea>
    <label id='char_count'>Character Count: </label>
    <input type="submit" value="Post Tweet" class="btn">
  </form>
  <div class="tweet_container"></div>
</div>
