<form class = 'login' method="post" action="/user/new">
  <p>Name<input type="text" name="user[name]"placeholder="name"></p>
  <p>Email<input type="text" name="user[email]"placeholder="email"></p>
  <p>Password<input type="password" name="user[password]" placeholder="password"></p>
  <p>Confirm Password<input type="password" name="user[password_confirmation]" placeholder="confirm password"></p>
  <input type="submit" value="Create User">
</form>